@media only screen and (max-width: 500px) {
    .boxModal {
        width: 85vw;
        height: 80vh;
        padding: 0px;
        transform: 'translate(-56%, -50%)',
    }
}


.boxModal {
    padding: 0px;
}